<header class="sticky-header bg-white shadow-sm">
        <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between py-2">
            <div class="align-items-center justify-content-center w-100 w-md-auto mb-2 mb-md-0 logo">
                <img src="/images/logo.png" alt="StreetWise Logo" class="logo-img me-2">
                <span class="logo-text">
                    <span class="street">Street</span><span class="wise">Wise</span>
                </span>
            </div>
        </div>
    </header>