<!DOCTYPE html>
<html lang="en">
<%- include('partials/head',{title:''})%>
<body>
    <header class="sticky-header">
        <div class="logo-container">
            <img src="/images/logo.png" alt="StreetWise Logo" class="logo-img">
            <span class="logo-text">
                <span class="street">Street</span><span class="wise">Wise</span>
            </span>
        </div>
        <a href="/login" class="login-btn">Login</a>
    </header>
    <main>
        
        <section class="description card">
            <h2>Track your customers, all at a time</h2>
            <p>
                Effortlessly track your customers, understand their needs, and boost your sales with StreetWise.<br>
                Simple, secure, and designed for street vendors.
            </p>
        </section>
        

    </main>
    <%- include('partials/footer') %>
</body>
</html>